Asian Zodiac

A system of twelve animals widely used since ancient times in the East known as the Chineze zodiac. Developed as a calculation method used for date expression in Korea.

Developed for calculations used in traditional brewing in Korea.

-

Asian Zodiac

Chineze zodiac으로 알려진 동양에서 오래전부터 널리 사용되는 열두 동물로 나타낸 체계. 한국에서 날짜 표현에 사용하는 계산법으로 개발함.

한국에서 전통주 양조에 쓰는 계산을 위해 개발함.

참조

https://echotop.tistory.com/31

https://bustar.tistory.com/279

https://m.blog.naver.com/ksh17141715/222270302830

In [1]:
import math

In [2]:
import time

In [3]:
array10k = ['갑', '을', '병', '정', '무', '기', '경', '신', '임', '계']
array10 = ['甲', '乙', '丙', '丁', '戊', '己', '庚', '辛', '壬', '癸']
array12k = ['자', '축', '인', '묘', '진', '사', '오', '미', '신', '유', '술', '해']
array12 = ['子', '丑', '寅', '卯', '辰', '巳', '午', '未', '申', '酉', '戌', '亥']

In [4]:
tm = time.localtime(time.time())

print("year:", tm.tm_year)
print("month:", tm.tm_mon)
print("day:", tm.tm_mday)
print("hour:", tm.tm_hour)
print("minute:", tm.tm_min)
print("second:", tm.tm_sec)

year: 2022
month: 5
day: 24
hour: 2
minute: 54
second: 14

In [5]:
y, m, d = 2018, 8, 18

In [6]:
time.gmtime()

time.struct_time(tm_year=2022, tm_mon=5, tm_mday=23, tm_hour=17, tm_min=54, tm_sec=14, tm_wday=0, tm_yday=143, tm_isdst=0)

년지

In [7]:
array10k[((y+7)%10)-1], array12k[((y+9)%12)-1]

('무', '술')

월지

In [8]:
array10k[(2*y+m+3)%10-1], array12k[(m+1)%12-1]

('경', '신')

일지

In [9]:
c, n = int(str(y)[0:2]), int(str(y)[2:])

In [10]:
p=(4*c+math.floor(c/4)+5*n+math.floor(n/4)+math.floor((3*m+3)/5)+d+7)%10

In [11]:
q = (8*c+math.floor(c/4)+5*n+math.floor(n/4)+6*m+math.floor((3*m+3)/5)+d+1)%12

In [12]:
array10k[p-1], array12k[q-1]

('임', '오')

 

2018년 8월18일의 일간과 일지를 구해보자.

구하는 년을 y로 두고 월을 m 일을 d로 두자. (1583<y<3999)

<주의사항>

1)    1월,2월 에는 y에서 1을 빼고 이 값을 y로 한다.

2)    1월은 m=13,2월은 m=14로 한다.

In [108]:
class Zodiac:

    def __init__(self, y, m, d):
        self.ten_k = ['갑', '을', '병', '정', '무', '기', '경', '신', '임', '계']
        self.ten = ['甲', '乙', '丙', '丁', '戊', '己', '庚', '辛', '壬', '癸']
        self.twv_k = ['자', '축', '인', '묘', '진', '사', '오', '미', '신', '유', '술', '해']
        self.twv = ['子', '丑', '寅', '卯', '辰', '巳', '午', '未', '申', '酉', '戌', '亥']

        if y < 1583:
            print('EXCESS MINIMUM!!!')
        elif y > 3999:
            print('EXCESS MAXIMUM!!!')
        else:
            print(y, m, d)
            if m == 1:
                y = y-1
                m = 13
            elif m == 2:
                y = y-1
                m = 14
            self.y, self.m, self.d = y, m, d

    def i10w(self, i):
        wk = self.ten_k[i-1]
        w = self.ten[i-1]
        return [wk, w]
    
    def i12w(self, i):
        wk = self.twv_k[i-1]
        w = self.twv[i-1]
        return [wk, w]
        
    def zdc_y(self,):
        y10 = (self.y+7)%10
        y12 = (self.y+9)%12
        return list(zip(self.i10w(y10), self.i12w(y12)))
    
    def zdc_m(self,):
        m10 = (2*self.y+self.m+3)%10
        m12 = (self.m+1)%12 
        return list(zip(self.i10w(m10), self.i12w(m12)))
    
    def zdc_d(self,):
        c, n = int(str(self.y)[0:2]), int(str(self.y)[2:])
        d10 = (4*c+math.floor(c/4)+5*n+math.floor(n/4)+math.floor((3*self.m+3)/5)+self.d+7)%10
        d12 = (8*c+math.floor(c/4)+5*n+math.floor(n/4)+6*self.m+math.floor((3*self.m+3)/5)+self.d+1)%12
        return list(zip(self.i10w(d10), self.i12w(d12)))
    
    def display(self):
        return self.zdc_y(), self.zdc_m(), self.zdc_d()
    
    def display_k(self):
        return ''.join(self.zdc_y()[0])+'('+''.join(self.zdc_y()[1])+')'+'년, '+''.join(self.zdc_m()[0])+'('+''.join(self.zdc_m()[1])+')'+'월, '+''.join(self.zdc_d()[0])+'('+''.join(self.zdc_d()[1])+')'+'일'

In [136]:
a = Zodiac(2022, 1, 1)

2022 1 1

In [137]:
a.display()

([('신', '축'), ('辛', '丑')], [('신', '축'), ('辛', '丑')], [('갑', '인'), ('甲', '寅')])

In [138]:
a.display_k()

'신축(辛丑)년, 신축(辛丑)월, 갑인(甲寅)일'

확인된 문제:

http://lifesci.net/pod/plugin/calendar/ < 이거랑 같음.


이거랑은 다르게 나옴. 계산법이 더 있는것으로 보임.
http://manse.sajuplus.net/
https://astro.kasi.re.kr/life/pageView/8